.errorDiv {
    text-align: left;
    margin-left: 2.5%;
    height: 32.5px;
    font-size: 80%;
    padding: 1.5%;
    width: 90%;
    background: rgba(255,127,80 ,0.2);
    border: solid 1px coral;
}

.errorText {
    display: inline-block;
    position: absolute;
    margin-left: 1%;
    margin-top: -0.1%;
}