@import '../../_variables.sass'
    
    
.sidenavDiv
    height: 1000px
    width: 200px
    margin-top: 60px
    position: fixed
    z-index: 1
    top: 0
    right: 0
    background-color: $dark-grey
    border-left: solid 1px $light-grey
    overflow-x: hidden
    padding-top: 60px
    text-align: left
    padding-left: 25px
    padding-top: 125px
    transition: 0.5s

.iconDiv
    color: $light-grey
    margin: auto

.navIcon
    display: inline-block
    margin-right: 25px

.iconText
    display: inline-block
    vertical-align: middle