@import '../../_variables.sass'
    
    
.sidenavDiv
    width: 0px
    height: 1000px
    margin-top: 60px
    position: fixed
    z-index: 1
    top: 0
    right: 0
    background-color: $dark-grey
    overflow-x: hidden
    text-align: left
    padding-top: 25px
    transition: width 0.5s

.iconDiv
    visibility: hidden
    opacity: 0
    transition-delay: 0.3s
    transition: visibility 0s, opacity 0.5s linear
    color: #fff
    margin: auto
    margin-bottom: 7px
    cursor: pointer
    &:hover
        color: $cyan

.navIcon
    display: inline-block
    margin-right: 10px

.iconText
    display: inline-block
    vertical-align: middle