.exerciseCardDiv {
    display: block;
    margin: auto;
    text-align: center;
    border: solid 1px #eee;
    width: 50vw;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    padding-bottom: 0 !important;
}
