/* .modalButton {
    display: inline-block;
    margin-right: 87.5%;
    background: #fff;
    border: solid 1px #eee;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.modalButton:hover {
    border: solid 1px coral;
    color: coral;
} */

.modalAnchor {
  position: relative;
  display: inline-block;
  font-size: 95%;;
  font-weight: 400;
  text-align: left;
  padding-bottom: 1%;
  margin-right: 90%;
  color: black !important;
  cursor: pointer
}

.modalAnchor,
.modalAnchor:hover,
.modalAnchor:focus,
.modalAnchor:active {
  color: #555;
  text-decoration: none;
}

.modalAnchor::after {
  content: "";
  position: absolute;
}

.anchorDiv .modalAnchor::after {
    top: 65%;
    height: 1.5px;
    width: 0%;
    left: 4%;
    background-color: coral;
    transition: 0.5s ease all .3s;
  }
  
  .anchorDiv:hover .modalAnchor::after {
    width: 90%;
    transition: 0.3s ease all;
  }

.modalAnchor::after {
    top: 65%;
    height: 1.5px;
    width: 0%;
    left: 4%;
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.5s ease all .3s;
  }
  
  .custom.custom-underline::after {
    width: 95%;
    transition: 0.3s ease all;
  }

.workoutCardDiv {
    display: block;
    margin: auto;
    text-align: center;
    border: solid 1px #eee;
    width: 50vw;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.workoutCardHeaderDiv {
    display: block;
    margin: auto;
    text-align: left;
    padding: 1%;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    border-bottom: solid 1px #eee;
}

.workoutNameHeader {
    display: block;
    margin-left: 1%;
}

.workoutCardList {
    display: block;
    margin-top: 2%;
    list-style: none;
    text-align: center;
}

.workoutCardListItem {
    display: block;
    width: 50%;
    margin: auto;
    border-bottom: coral 1px solid;
    padding-bottom: 1%;
    margin-bottom: 2%;
}