.authButton {
    display: inline-block;
    background: #fff;
    border: solid 1px #eee;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.authButton:hover {
    border: solid 1px coral;
    color: coral;
}

.workoutCardDiv {
    display: block;
    margin: auto;
    text-align: center;
    border: solid 1px #eee;
    width: 50vw;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.workoutCardHeaderDiv {
    display: block;
    margin: auto;
    text-align: left;
    padding: 1%;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    border-bottom: solid 1px #eee;
}

.workoutNameHeader {
    display: block;
    margin-left: 1%;
}

.workoutCardList {
    display: block;
    margin-top: 2%;
    list-style: none;
    text-align: center;
}

.workoutCardListItem {
    display: block;
    width: 50%;
    margin: auto;
    border-bottom: coral 1px solid;
    padding-bottom: 1%;
    margin-bottom: 2%;
}