.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.modalButton {
    display: inline-block;
    background: #fff;
    border: solid 1px #eee;
    width: 125px;
    height: 30px;
    font-size: 80%;
    cursor: pointer;
}

.modalButton:hover {
    border: solid 1px coral;
    color: coral;
}

.inputField {
    display: block;
    margin: auto;
    margin-left: 2.5%;
    width: 75%;
    margin-bottom: 2%;
    border: solid 1px #eee;
    border-radius: 4%;
    font-size: 90%;
    padding: 1.5%;
    outline: none;
}

.inputField:focus {
    border: solid 1px coral;
    outline: none;
}

.workoutNameInputHr {
    border-color: coral;
    margin-left: 2.5%;
    margin-right: 2.5%;
}


.workoutNameInput{
    display: block;
    margin: auto;
    margin-left: 2.5%;
    width: 90%;
    margin-bottom: 2%;
    border: solid 1px #eee;
    border-radius: 4%;
    font-size: 100%;
    padding: 1%;
    outline: none;
}

.workoutNameInput:focus {
    border: solid 1px coral;
    outline: none;
}

.numberInputField {
    -moz-appearance: textfield;
}

.numberInputField::-webkit-outer-spin-button,
.numberInputField::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.addExerciseParagraph {
    margin-left: 2.5%;
    font-size: 90%;
}

.exercisesHeader {
    display: block;
    text-align: left;
    margin-left: 2.5%;
    font-size: 125%;
    color: #555;
    margin-bottom: 3%;
}

.addExerciseButton {
    display: inline-block;
    background: coral;
    border: solid 1px #fff;
    margin-left: 2.5%;
    width: 200px;
    height: 30px;
    color: white;
    cursor: pointer;
}

.addExerciseButtonContainer {
   text-align: left; 
}

.addExerciseButton:hover {
    border: solid 1px coral;
    color: coral;
    background-color: white;
} 


.exerciseListSpan {
    display: block;
    margin-left: 2.5%;
    border-bottom: solid 1px coral;
    color: #555;
    padding: 1%;
    margin-top: 2.5%;
    width: 90%;
    vertical-align: middle;
    text-align: left; 
}

.iconSpan {
    display: inline-flex;
    margin-left: 1%;
    padding-top: 1%;
    vertical-align: middle;
    float: right;
    cursor: pointer;
    border-bottom: solid 1px white;
}
.iconSpan:hover { 
    border-color: coral;
    transition: 0.1s border-color ease-in;
}