@import '../../_variables.sass'

.opacityLayerDiv
    position: fixed
    z-index: 1
    width: 100vw
    height: 100vh
    background: rgba(40, 40, 40, 0.9)

.mainModalDiv
    display: block 
    margin: auto
    margin-top: 3%
    background: $dark-grey
    padding: 0
    width: 775px
    height: 805px
    border: 1px solid $border-grey
    box-shadow: 1px 1px 1px black
    z-index: 2
    transition: all 0.3s ease-out
    text-align: left
    overflow: -moz-scrollbars-none
    overflow-y: scroll
    -ms-overflow-style: none
    &::-webkit-scrollbar
         width: 0 !important
    @media (max-width: 800px)
        width: 100vw
        height: 100vh
        margin-top: 0
    // @media (max-height: 600px)
    //     overflow-y: scroll

.modalHeaderMainDiv
    width: 100%
    background: $dark-grey
    border-bottom: solid 1px $border-grey
    padding: 1%

.modalHeader
    font-weight: 200
    color: #fff
    font-family: $fira
    font-size: 25px
    text-align: left
    display: inline-block
    margin-left: 1%
    margin-bottom: -1%

.closeIcon
    display: inline-block
    color: $light-grey
    float: right
    text-align: right
    vertical-align: middle
    font-size: 30px
    margin-right: 1%
    cursor: pointer
    &:hover
        color: #fff

.workoutNameDiv
    width: 100%
    padding: 4% 3%
    border-bottom: solid 1px $border-grey

.inputField
    font-family: $noto
    width: 530px
    display: block
    height: 50px
    border: none
    margin-bottom: 3%
    background: #333
    color: $light-grey
    font-size: 20px
    padding-left: 2%
    font-weight: 200
    border-bottom: solid 2px $light-grey
    &:placeholder
        color: #777
    &:focus
        outline: none
    @media (max-width: 600px)
        width: 95%

.inputFieldSuccess
    font-family: $noto
    width: 530px
    display: block
    height: 50px
    border: none
    margin-bottom: 3%
    background: #333
    color: $light-grey
    font-size: 20px
    padding-left: 2%
    font-weight: 200
    border-bottom: solid 2px $cyan
    &:placeholder
        color: #777
    &:focus
        outline: none
    @media (max-width: 600px)
        width: 95%


.inputFieldError
    font-family: $noto
    width: 530px
    display: block
    height: 50px
    border: none
    margin-bottom: 1%
    background: #333
    color: $light-grey
    font-size: 20px
    padding-left: 2%
    font-weight: 200
    border-bottom: solid 2px $red
    &:placeholder
        color: #777
    &:focus
        outline: none
    @media (max-width: 600px)
        width: 95%


.errorMessage
    text-align: left
    margin-bottom: 1%
    color: $red

.workoutNameInput
    margin-bottom: 0%

.modalBodyDiv
    width: 100%
    padding-left: 3%

.exercisesHeader
    color: #fff
    font-size: 25px
    font-family: $fira
    font-weight: 200
    margin-top: 3%
    margin-bottom: 3%

.addExerciseButton
    color: $light-grey
    border: solid 1px $light-grey
    background: transparent
    cursor: pointer
    width: 225px
    height: 50px
    margin-bottom: 2%
    &:hover
        color: #fff
        border: solid 1px #fff

.addExerciseButtonText
    font-family: $fira
    font-size: 25px
    font-weight: 200
    display: inline-block
    vertical-align: middle

.plusIcon
    margin-left: 5%
    vertical-align: middle
    display: inline-block
    font-size: 30px

.exerciseList
    height: 120px
    overflow: -moz-scrollbars-none
    overflow-y: scroll
    -ms-overflow-style: none
    &::-webkit-scrollbar
         width: 0 !important
    @media (max-width: 800px)
        height: 280px
    @media (max-height: 820px) 
        height: 80px
    @media (max-height: 750px)
        height: 40px
    @media (max-height: 600px)
        height: 20px

.exerciseListError
    height: 55px
    overflow: -moz-scrollbars-none
    overflow-y: scroll
    -ms-overflow-style: none
    &::-webkit-scrollbar
         width: 0 !important
    @media (max-width: 800px)
        height: 200px
    @media (max-height: 950px)
        height: 150px
    @media (max-height: 900px)
        height: 100px
    @media (max-height: 850px) 
        height: 50px
    @media (max-height: 800px)
        height: 20px
    @media (max-height: 600px)
        height: 10px

.exerciseListSpan
    display: inline-block
    width: 85%
    margin-bottom: 2%
    color: #fff
    font-family: $source
    font-size: 25px
    font-weight: 200
    border-bottom: solid 1px $cyan
    vertical-align: middle

.iconSpan
    display: inline-block
    float: right
    vertical-align: middle
    padding-top: 1%
    cursor: pointer
    &:hover
        color: $red
        transition: color 0.2s ease

.bottomModalDiv
    border-top: solid 1px $border-grey
    text-align: right
    padding: 3%

.submitWorkoutButton
    width: 250px
    height: 50px
    border: solid 1px $light-grey
    font-family: $fira
    font-size: 25px
    font-weight: 200
    color: $light-grey
    background: none
    cursor: pointer

.submitButton
    display: block
    position: relative
    background: none
    color: #fff
    float: right
    cursor: pointer
    border: none
    width: 250px
    &:focus
        outline: none
    &:hover
        color: $cyan
        transition: color 0.25s ease-in
        transition-delay: 0.25s
    
    
.submitSpan
    display: block
    width: 250px
    height: 50px
    vertical-align: middle
    text-align: center
    padding-top: 2.5%
    font-family: $fira
    font-size: 25px
    font-weight: 200
    border: solid 1px #fff
    cursor: pointer

// Submit button animation

.submitButton::before, .submitButton::after 
	content: "" 
	width: 0 
	height: 2px 
	position: absolute 
	transition: all 0.2s 
	background: $cyan
    

.submitSpan::before, .submitSpan::after 
	content: "" 
	width: 2px 
	height: 0 
	position: absolute 
	transition: all 0.2s linear 
	background: $cyan
    

.submitButton:hover::before, .submitButton:hover::after 
	width: 100% 

.submitButton:hover span::before, .submitButton:hover span::after 
	height: 100% 


.buttonAnimation::before, .buttonAnimation::after 
	transition-delay: 0s 

.buttonAnimation .submitSpan::before, .buttonAnimation .submitSpan::after 
	transition-delay: 0.2s 

.buttonAnimation 
	&::before 
		right: 0 
		top: 0
	&::after 
		left: 0 
		bottom: 0
	.submitSpan 
		&::before 
			left: 0 
			top: 0
		&::after 
			right: 0 
			bottom: 0

.buttonAnimation:hover::before, .buttonAnimation:hover::after 
	transition-delay: 0.2s 

.buttonAnimation:hover .submitSpan::before, .buttonAnimation:hover .submitSpan::after 
	transition-delay: 0s 


    







