// Home Screen

.mainDiv
    background-color: #555
    background-image: url(../../assets/websitebarbell.png)
    background-size: cover
    background-repeat: no-repeat
    width: 100vw
    height: 100vh
    margin-top: -2%

.contentDiv
    display: block
    margin: auto
    vertical-align: middle
    padding-top: 10%
    height: 5vh
    color: whitesmoke
    font-family: 'Open Sans'
    @media (max-width: 1224px)
        padding-top: 15%
    @media (max-width: 1024px)
        margin-left: 4%
        margin-right: 4%
    @media (max-width: 768px)
        margin-left: 6%
        margin-right: 6%
        padding-top: 20%

.mainHeader
    margin-bottom: 1%
    @media (max-width: 1224px)
        margin-bottom: 2.5%
    @media (max-width: 1024px)
        margin-bottom: 3%
    @media (max-width: 768px)
        margin-bottom: 7%
    @media (min-width: 2048px)
        font-size: 250%
    @media (min-width: 2560px)
        font-size: 300%
    @media (min-width: 3840px)
        font-size: 350%

.describtionHeader
    margin-bottom: 1%
    @media (max-width: 1224px)
        margin-bottom: 2.5%
    @media (max-width: 1024px)
        margin-bottom: 3%
    @media (max-width: 768px)
        margin-bottom: 7%
        font-size: 145%
    @media (min-width: 2048px)
        font-size: 150%
    @media (min-width: 2560px)
        font-size: 218%
    @media (min-width: 3840px)
        font-size: 250%

.getStartedButton
    position: relative
    height: 45px
    width: 150px
    margin: 10px 7px
    padding: 5px 5px
    font-weight: 700
    font-size: 15px
    letter-spacing: 2px
    color: whitesmoke
    border: 1px whitesmoke solid
    border-radius: 4px
    text-transform: uppercase
    outline: 0
    overflow:hidden
    background: none
    z-index: 1
    cursor: pointer
    text-align: left
    padding-left: 17px
    transition:         0.08s ease-in
    -o-transition:      0.08s ease-in
    -ms-transition:     0.08s ease-in
    -moz-transition:    0.08s ease-in
    -webkit-transition: 0.08s ease-in
    &:focus
        outline: 0
    &:before
        content: "→"
        position: absolute
        color: whitesmoke
        left: 83%
        opacity: 0
        -webkit-transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550)
    &:hover
        width: 170px
        &:before
            left: 84%
            opacity: 1
    @media (min-width: 2560px)
        height: 67.5px
        width: 225px
        margin: 15px 10.5px
        padding: 7.5px 7.5px
        font-size: 22.5px
        border: solid 1.5px whitesmoke
        padding-left: 25.5px
        &:hover
            width: 255px
    @media (min-width: 3840px)
        height: 81px
        width: 270px
        margin: 18px 12.6px
        padding: 9px 9px
        font-size: 27px
        border: solid 1.8px whitesmoke
        padding-left: 30.6px
        &:hover
            width: 306px

// Choice Div 

.choiceDiv
    display: block
    margin: auto
    vertical-align: middle
    padding-top: 10%
    color: whitesmoke
    font-family: 'Open Sans'
    @media (max-width: 768px)
        margin-left: 5%
        margin-right: 5%

.choiceHeader
    display: block
    margin: auto
    margin-bottom: 2%
    @media (max-width: 768px)
        margin-bottom: 5%
    @media (min-width: 2048px)
        font-size: 250%
    @media (min-width: 2560px)
        font-size: 300%
    @media (min-width: 3840px)
        font-size: 400%


.choiceButton
    background: transparent
    display: block
    border: solid 1px whitesmoke
    letter-spacing: 1px
    width: 200px
    height: 50px
    color: whitesmoke
    font-size: 110%
    cursor: pointer
    position: relative
    margin: auto
    margin-bottom: 1%
    z-index: 1
    outline: 0
    overflow: hidden
    border-radius: 2px
    transition:         0.08s ease-in
    -o-transition:      0.08s ease-in
    -ms-transition:     0.08s ease-in
    -moz-transition:    0.08s ease-in
    -webkit-transition: 0.08s ease-in
    &:before
        background: linear-gradient(315deg, #dfa375 0%, #c58e7f 74%)
        content: ""
        position: absolute
        bottom: 0
        left: 0
        right: 0
        top: 100%
        z-index: -1
        -webkit-transition: top 0.1s ease-in
    &:hover
        color: #fff
        border: solid 1px #dfa375
        &:before
            top: 0
    @media (max-width: 768px)
        margin-bottom: 3%
    @media (min-width: 2560px)
        height: 75px
        width: 300px
        border: solid 1.75px whitesmoke
        font-size: 150%
        &:hover
            border: solid 1.75px #dfa375
    @media (min-width: 3840px)
        height: 90px
        width: 360px
        border: solid 2px whitesmoke
        font-size: 200%
        &:hover
            border: solid 2px #dfa375 

.choiceText
    font-size: 100%
    display: block
    margin: auto
    color: whitesmoke
    margin-bottom: 1%
    @media (max-width: 768px)
        margin-bottom: 3%
    @media (min-width: 2048px)
        font-size: 125%
    @media (min-width: 2560px)
        font-size: 150%
    @media (min-width: 3840px)
        font-size: 175%