@import '../../variables.sass'

.navBar
    text-align: center
    width: 100vw
    background: $dark-grey
    height: 60px
    color: #fff
    position: fixed
    z-index: 1
    border-bottom: solid 1px $border-grey
    @media (min-width: 3840px)
        height: 120px
    


.chevronIcon
    display: inline-block
    float: left
    margin: auto
    vertical-align: middle
    font-size: 225%
    padding-top: 12px
    margin-left: 19px
    cursor: pointer
    text-decoration: none
    color: #fff
    &:hover
        color: $cyan
        transition: color 0.2s ease-in
    @media (min-width: 3840px)
        font-size: 450%
        padding-top: 24px
        margin-left: 38px

.workoutsAddIcon
    display: inline-block
    float: left
    margin: auto
    vertical-align: middle
    font-size: 200%
    padding-top: 14px
    margin-left: 19px
    cursor: pointer
    &:hover
        color: $cyan
        transition: color 0.2s ease-in
    @media (min-width: 3840px)
        font-size: 400%
        padding-top: 28px
        margin-left: 38px

.exercisesAddIcon
    display: inline-block
    float: left
    margin: auto
    vertical-align: middle
    font-size: 200%
    padding-top: 14px
    margin-left: 38px
    cursor: pointer
    &:hover
        color: $cyan
        transition: color 0.2s ease-in
    @media (min-width: 3840px)
        font-size: 400%
        padding-top: 28px
        margin-left: 76px

.timerIcon
    display: inline-block
    float: left
    margin: auto
    vertical-align: middle
    font-size: 175%
    padding-top: 16px
    margin-left: 38px
    cursor: pointer
    &:hover
        color: $cyan
        transition: color 0.2s ease-in
    @media (min-width: 3840px)
        font-size: 350%
        padding-top: 32px
        margin-left: 76px

.sectionHeader
    display: inline-block
    font-size: 190%
    font-family: $fira
    border-bottom: solid 1px $cyan
    padding-top: 8px
    font-weight: 200
    float: center
    @media (min-width: 3840px)
        font-size: 380%
        padding-top: 16px

.exercisesHeader
    margin-left: -138px
    @media (max-width: 768px)
        display: none
    @media (min-width: 3840px)
        margin-left: -276px

.menuIcon
    display: inline-block
    float: right
    font-size: 200%
    padding-top: 14px
    margin-right: 19px
    cursor: pointer
    &:hover
        color: $cyan
        transition: color 0.2s ease-in
    @media (min-width: 3840px)
        font-size: 400%
        padding-top: 28px
        margin-right: 38px





    