.exerciseCardSquare {
    display: inline-block;
    width: 7vh;
    height: 7vh;
    padding: auto;
    vertical-align: middle;
    border: solid 1px coral;
    border-radius: 7%;
    text-align: center;
    margin: auto;
    color: coral;
    padding-top: 1.75%;
    font-size: 120%;
    margin: 1% 5%;
    cursor: pointer;
}

.exerciseClickedSquare {
    display: inline-block;
    width: 7vh;
    height: 7vh;
    padding: auto;
    vertical-align: middle;
    border: solid 1px coral;
    border-radius: 7%;
    background: coral;
    text-align: center;
    margin: auto;
    color: white;
    padding-top: 1.75%;
    font-size: 120%;
    margin: 1% 5%;
    cursor: pointer;
}