.firebaseuiDiv {
    display: block;
    margin: auto;
    margin-top: 0;
}

.mainDiv {
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: solid 1px #eee;
}

.loginHeader {
    border-bottom: solid 1px coral;
    width: 50%;
    display: block;
    margin: auto;
    padding-bottom: 1%;
    margin-bottom: 3%;
    text-align: left;
}

.inputField {
    display: block;
    margin-left: 25%;
    width: 50%;
    margin-bottom: 2%;
    border: solid 1px #eee;
    border-radius: 4%;
    font-size: 100%;
    padding: 1%;
    outline: none;
}

.inputField:focus {
    border: solid 1px coral;
    outline: none;
}

.authButton {
    display: inline-block;
    background: #fff;
    border: solid 1px #eee;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.loginErrorDiv {
    width: 90%;
    margin: auto;
    color: #555;
    background: rgba(255,127,80 ,0.2);;
    font-size: 90%;
    text-align: left;
    padding: 0.5%;
}

.authButton:hover {
    border: solid 1px coral;
    color: coral;
}

.passwordInput {
    margin-bottom: 2%;
}

.loginButton {
    margin-left: 0;
}

.signupButton {
    margin-left: 10%;
}

.dividingParagraph {
    color: #777;
    padding-top: 1%;
}

a {
    text-decoration: none;
    color: coral !important;
}