$input-active-color: lighten(#c58e7f, 15%)

.mainLoginDiv
    padding-top: 7%    

.authDiv
    display: inline-block
    width: 50%
    background: white
    padding-bottom: 1%
    margin: auto
    border: solid 1px #eee
    @media (max-width: 1400px)
        width: 70%
    @media (max-width: 1224px)
        width: 90%

.mainHeader
    color: #444
    padding-top: 1.25%
    padding-bottom: 1.5%
    font-size: 140%
    text-align: left
    padding-left: 4%
    display: block
    margin: auto
    border-bottom: solid 1px #eee
    width: 100%
    font-weight: 500
    margin-bottom: 2%
    font-family: 'Open Sans', sans-serif
    @media (min-width: 3840px)
        font-size: 200%


// Standard login Option

.standardLoginDiv
    padding-left: 2%
    width: 50%
    display: inline-block
    border-right: solid 1px #eee
    @media (max-width: 1600px)
        display: block
        width: 70%
        margin: auto
        border-right: none
        padding-top: 1%
    @media (max-width: 1024px)
        width: 80%
    @media (max-width: 768px)
        width: 90%

.inputParagraph
    color: #BDBDBD
    padding-bottom: 0
    margin-bottom: 0
    margin-top: 2%
    text-align: left
    margin-left: 0%
    @media (max-width: 768px)
        font-size: 110%
    @media (min-width: 2560px)
        font-size: 120%
    @media (min-width: 3840px)
        font-size: 150%
    

.inputField
    border: none
    border-bottom: solid 1px #eee
    margin: auto
    width: 90%
    display: block
    font-size: 100%
    color: black
    padding: 1%
    padding-left: 0
    margin-bottom: 5%
    margin-left: 0
    &:focus
        outline: none
        border-bottom: solid 1px $input-active-color
    @media (max-width: 1400px)
        width: 98%
    @media (max-width: 768px)
        width: 100%
        font-size: 110%
    @media (min-width: 2560px)
        font-size: 120%
    @media (min-width: 3840px)
        font-size: 150%


.loginButttonDiv
    display: inline-block
    width: 50%
    
.loginButton
    background: #fff
    display: block
    border: solid 2px #999
    letter-spacing: 1px
    margin-left: 15%
    width: 160px
    height: 40px
    color: #888
    font-size: 110%
    cursor: pointer
    position: relative
    z-index: 1
    outline: 0
    overflow: hidden
    border-radius: 2px
    transition:         0.08s ease-in
    -o-transition:      0.08s ease-in
    -ms-transition:     0.08s ease-in
    -moz-transition:    0.08s ease-in
    -webkit-transition: 0.08s ease-in
    &:before
        background: linear-gradient(315deg, #dfa375 0%, #c58e7f 74%)
        content: ""
        position: absolute
        bottom: 0
        left: 0
        right: 0
        top: 100%
        z-index: -1
        -webkit-transition: top 0.09s ease-in
    &:hover
        color: #fff
        border: solid 2px #dfa375
        &:before
            top: 0
    @media (max-width: 1600px)
        margin-left: 10%
    @media (max-width: 500px)
        width: 128px
        height: 32px
        font-size: 88%
    @media (min-width: 2560px)
        width: 192px
        height: 48px
        font-size: 110%
        margin-left: 5%
        border: solid 2.5px #999
        &:hover
            border: solid 2.5px #dfa375
    @media (min-width: 3840px)
        width: 230.4px
        height: 57.6px
        font-size: 132%
        &:hover
            border: solid 3px #dfa375


.forgotPasswordDiv
    text-align: right
    display: inline-block
    width: 50%
    margin-bottom: 1%
    @media (max-width: 1600px)
        margin-left: 10%
    @media (max-width: 1400px)
        margin-left: 22%
    @media (max-width: 1224px)
        margin-left: 14%
    @media (max-width: 1024px)
        margin-left: 20%
    @media (max-width: 768px)
        margin-left: 10%
    @media (max-width: 500px)
        margin-left: 0
    @media (min-width: 2560px)
        margin-left: 10%
        font-size: 125%
    @media (min-width: 3840px)
        margin-left: 13%
        font-size: 160%
        

.forgotPassword
    font-size: 90%
    color: #dfa375
    cursor: pointer
    text-align: right
    padding-top: 3%
    transition: color 0.08s ease-in
    &:hover
        color: coral
    @media (min-width: 3840px)
        padding-top: 2%

// Different Login Options

.loginOptionsDiv
    display: inline-block
    width: 45%
    margin-bottom: 2%
    @media (max-width: 1600px)
        display: block
        margin: auto
        width: 100%
        margin-top: 2%
        border-top: solid 1px #eee
    @media (max-width: 1400px)
        padding-bottom: 2%
    @media (max-width: 1024px)
        padding-bottom: 4%

.loginOptionsHeader
    display: block
    color: #555
    font-size: 125%
    font-family: 'Open Sans', sans serif
    width: 75%
    margin: auto
    padding-bottom: 2%
    border-bottom: solid 1px #eee
    @media (max-width: 1600px)
        margin-top: 2%
        border-bottom: none
    @media (max-width: 1024px)
        margin-top: 3%
        margin-bottom: 1%
    @media (max-width: 500px)
        margin-top: 5%
        margin-bottom: 3%
    @media (min-width: 2560px)
        margin-bottom: 7%
        font-size: 140%
    @media (min-width: 3840px)
        margin-bottom: 5%
        font-size: 180%

.buttonIcon
    margin-right: 2.5%
    vertical-align: center

.googleAuthButton
    background: #fff
    display: block
    border: solid 2px #ea384d
    width: 200px
    margin: auto
    margin-top: 2.5%
    height: 40px
    color: #ea384d
    font-size: 110%
    cursor: pointer
    position: relative
    z-index: 1
    outline: 0
    overflow: hidden
    border-radius: 2px
    transition:         0.08s ease-in
    -o-transition:      0.08s ease-in
    -ms-transition:     0.08s ease-in
    -moz-transition:    0.08s ease-in
    -webkit-transition: 0.08s ease-in
    &:before
        background: linear-gradient(315deg, #d31027 0%, #ea384d 74%)
        content: ""
        position: absolute
        bottom: 0
        left: 0
        right: 0
        top: 100%
        z-index: -1
        -webkit-transition: top 0.09s ease-in
    &:hover
        color: #fff
        &:before
            top: 0
    @media (max-width: 1600px)
        display: block
        margin-top: 1%
    @media (max-width: 1400px)
        display: inline-block
        margin-top: 0
        margin-right: 2%
    @media (max-width: 768px)
        display: block
        margin: auto
        margin-bottom: 1.5%
    @media (min-width: 2560px)
        width: 240px
        height: 48px
        font-size: 132%
        border: solid 2.4px #ea384d
    @media (min-width: 3840px)
        width: 288px
        height: 57.6px
        font-size: 160%
        border: solid 2px #ea384d


.twitterAuthButton
    background: #fff
    display: block
    border: solid 2px #61A3EB
    width: 200px
    margin: auto
    margin-top: 2%
    height: 40px
    color: #61A3EB
    font-size: 110%
    cursor: pointer
    position: relative
    z-index: 1
    outline: 0
    overflow: hidden
    border-radius: 2px
    transition:         0.08s ease-in
    -o-transition:      0.08s ease-in
    -ms-transition:     0.08s ease-in
    -moz-transition:    0.08s ease-in
    -webkit-transition: 0.08s ease-in
    &:before
        background: #61A3EB
        content: ""
        position: absolute
        bottom: 0
        left: 0
        right: 0
        top: 100%
        z-index: -1
        -webkit-transition: top 0.09s ease-in
    &:hover
        color: #fff
        &:before
            top: 0
    @media (max-width: 1400px)
        display: inline-block
        margin-top: 0 
        margin-right: 2%
    @media (max-width: 768px)
        display: block
        margin: auto
        margin-bottom: 1.5%
    @media (min-width: 2560px)
        width: 240px
        height: 48px
        font-size: 132%
        border: solid 2.4px #61A3EB
    @media (min-width: 3840px)
        width: 288px
        height: 57.6px
        font-size: 160%
        border: solid 2px #61A3EB

.facebookAuthButton
    background: #fff
    display: block
    border: solid 2px #3b5998
    width: 200px
    margin: auto
    margin-top: 2%
    height: 40px
    color: #3b5998
    font-size: 110%
    cursor: pointer
    position: relative
    z-index: 1
    outline: 0
    overflow: hidden
    border-radius: 2px
    transition:         0.08s ease-in
    -o-transition:      0.08s ease-in
    -ms-transition:     0.08s ease-in
    -moz-transition:    0.08s ease-in
    -webkit-transition: 0.08s ease-in
    &:before
        background: linear-gradient(315deg, #3b5998 0%, #2b4170 74%)
        content: ""
        position: absolute
        bottom: 0
        left: 0
        right: 0
        top: 100%
        z-index: -1
        -webkit-transition: top 0.09s ease-in
    &:hover
        color: #fff
        &:before
            top: 0
    @media (max-width: 1400px)
        display: inline-block
        margin-top: 0
    @media (max-width: 768px)
        display: block
        margin: auto
    @media (min-width: 2560px)
        width: 240px
        height: 48px
        font-size: 132%
        border: solid 2.4px #3b5998
    @media (min-width: 3840px)
        width: 288px
        height: 57.6px
        font-size: 160%
        border: solid 2px #3b5998
    

