@import '../../_variables.sass'

.mainLoginDiv
    background-color: #555
    background-image: url(../../assets/websitebarbell.png)
    background-size: cover
    background-repeat: no-repeat
    width: 100vw
    height: 100vh
    padding-top: 2.5%
    @media (max-width: 1224px)
        padding-top: 4%
    @media (max-width: 600px)
        background: $background-black
        padding: 0
        margin: 0
        width: 100vw
        height: 100vh

.authDiv
    background: $background-black
    width: 30%
    margin: auto
    border: solid 1px $cyan
    padding: 1% 2%
    @media (max-width: 1700px)
        width: 32.5%
    @media (max-width: 1440px)
        width: 37.5%
    @media (max-width: 1224px)
        width: 50%
    @media (max-width: 1024px)
        width: 60%
    @media (max-width: 768px)
        width: 80%
    @media (max-width: 600px)
        border: none
        padding: 0%
        width: 100vw
        padding: 0%
        height: 100vh

.mainHeader
    color: #ffffff
    text-align: left
    font-family: $fira
    font-weight: 100
    margin-bottom: 7%
    @media (min-width: 2560px)
        font-size: 250%
    @media (min-width: 3840px)
        font-size: 400%
    @media (max-width: 600px)
        padding-left: 5%


.inputField
    font-family: $noto
    width: 100%
    display: block
    height: 5vh
    border: none
    margin-bottom: 6%
    background: $dark-grey
    color: $light-grey
    padding: 6% 4%
    font-size: 110%
    border-bottom: solid 2.5px $light-grey
    &:placeholder
        color: #777
    &:focus
        outline: none
    @media (min-width: 2560px)
        font-size: 150%
    @media (min-width: 3840px)
        font-size: 200%
    @media (max-width: 1024px)
        padding: 5% 3%
    @media (max-width: 600px)
        padding: 8% 6%
        width: 95%
        margin: auto
        margin-bottom: 8%

.inputFieldSuccess
    font-family: $noto
    width: 100%
    display: block
    height: 5vh
    border: none
    margin-bottom: 6%
    background: $dark-grey
    color: $light-grey
    padding: 6% 4%
    font-size: 110%
    border-bottom: solid 2.5px $cyan
    &:placeholder
        color: #777
    &:focus
        outline: none
    @media (min-width: 2560px)
        font-size: 150%
    @media (min-width: 3840px)
        font-size: 200%
    @media (max-width: 1024px)
        padding: 5% 3%
    @media (max-width: 600px)
        padding: 8% 6%
        width: 95%
        margin: auto
        margin-bottom: 8%

.inputFieldError
    font-family: $noto
    width: 100%
    display: block
    height: 5vh
    border: none
    margin-bottom: 0%
    background: $dark-grey
    color: $light-grey
    padding: 6% 4%
    font-size: 110%
    border-bottom: solid 2.5px $red
    &:placeholder
        color: #777
    &:focus
        outline: none
    @media (min-width: 2560px)
        font-size: 150%
    @media (min-width: 3840px)
        font-size: 200%
    @media (max-width: 1024px)
        padding: 5% 3%
    @media (max-width: 600px)
        padding: 8% 6%
        width: 95%
        margin: auto
        margin-bottom: 8%

.errorMessage
    text-align: left
    margin-bottom: 5%
    color: $red
    
.passwordInput
    margin-bottom: 7%
    @media (max-width: 600px)
        margin-bottom: 10%

.loginButton
    display: block
    position: relative
    background: none
    color: #ffffff
    font-size: 18px
    margin: auto
    cursor: pointer
    border: none
    width: 100%
    &:focus
        outline: none
    &:hover
        color: $cyan
        transition: color 0.25s ease-in
        transition-delay: 0.25s
    @media (min-width: 2560px)
        font-size: 25px
    @media (min-width: 3840px)
        font-size: 36px
    @media (max-width: 600px)
        width: 95%
    
    
.loginSpan
    display: block
    width: 100%
    height: 60px
    vertical-align: middle
    text-align: center
    padding-top: 2.5%
    font-family: $noto
    font-size: 115%
    border: solid 1px #fff
    cursor: pointer
    @media (min-width: 2560px)
        padding: 22.5px  67.5px
        padding-top: 2.5%
    @media (min-width: 3840px)
        padding: 30px 90px
        padding-top: 2.5%
    @media (max-width: 1024px)
        height: 65px
    @media (max-width: 600px)
        height: 50px
        width: 100%   


.forgotPassword
    text-decoration: none
    font-family: $noto
    color: $light-grey
    text-align: right
    margin-top: 5%
    margin-left: 70%
    position: relative
    width: 30%
    cursor: pointer
    white-space: nowrap
    &:after
        content: ''
        display: block
        border-bottom: 1px solid $cyan
        width: 0
        position: absolute
        left: 0
        -webkit-transiton: 0.5s ease
        transition: 0.5s ease
    &:hover::after
        width: 100%
    @media (min-width: 2560px)
        font-size: 125%
        &:after
            border-bottom: 2px solid $cyan
    @media (min-width: 3840px)
        font-size: 200%
    @media (max-width: 600px)
        margin-left: 57.5%
        width: 40%
    @media (max-width: 400px)
        margin-left: 53%

.standardLoginDiv
    margin-bottom: 15%
    @media (max-width: 600px)
        margin-bottom: 10%

.differentOptionsDiv
    width: 40%
    text-align: left
    display: inline-block
    margin-right: 10%
    white-space: nowrap
    @media (max-width: 600px)
        display: block
        margin: auto
        margin-bottom: 5%
        text-align: center
        width: 100%

.differentOptionsHeader
    color: $light-grey
    text-align: left
    font-size: 110%
    @media (min-width: 2560px)
        font-size: 150%
    @media (min-width: 3840px)
        font-size: 200%
    @media (max-width: 600px)
        text-align: center
    
.googleIcon
    color: #fff
    font-size: 150%
    margin-right: 10%
    cursor: pointer
    &:hover
        color: $cyan
        transition: 0.3s ease-in
    @media (min-width: 2560px)
        font-size: 200%
    @media (min-width: 3840px)
        font-size: 250%
    @media (max-width: 600px)
        text-align: center
        font-size: 200%

.facebookIcon
    color: #fff
    font-size: 150%
    cursor: pointer
    &:hover
        color: $cyan
        transition: 0.3s ease-in
    @media (min-width: 2560px)
        font-size: 200%
    @media (min-width: 3840px)
        font-size: 250%
        margin-top: 2%
    @media (max-width: 600px)
        text-align: center
        font-size: 200%
    

.signUpDiv
    width: 40%
    display: inline-block
    text-align: right
    margin-left: 10%
    white-space: nowrap
    @media (max-width: 600px)
        display: block
        margin: auto
        text-align: center
        width: 100%
        margin-top: 10%

.signUpHeader
    color: $light-grey
    text-align: right
    font-size: 110%
    @media (min-width: 2560px)
        font-size: 150%
        padding-bottom: 2%
    @media (min-width: 3840px)
        font-size: 200%
        padding-bottom: 0
    @media (max-width: 600px)
        width: 100%
        text-align: center
        display: block
        margin:

.signUpAnchor
    color: #fff
    text-align: right
    font-size: 120%
    position: relative
    width: 30%
    margin-left: 67.5%
    cursor: pointer
    &:after
        content: ''
        display: block
        border-bottom: 1px solid $cyan
        width: 0
        position: absolute
        left: 0
        -webkit-transiton: 0.5s ease
        transition: 0.5s ease
    &:hover::after
        width: 100%
    @media (min-width: 2560px)
        font-size: 160%
    @media (min-width: 3840px)
        font-size: 260%
    @media (max-width: 600px)
        width: 50%
        text-align: center
        margin: auto
        font-size: 150%
    @media (max-width: 400px)
        width: 40%


// login button animation

.loginButton::before, .loginButton::after 
	content: "" 
	width: 0 
	height: 2px 
	position: absolute 
	transition: all 0.2s 
	background: $cyan
    

.loginSpan::before, .loginSpan::after 
	content: "" 
	width: 2px 
	height: 0 
	position: absolute 
	transition: all 0.2s linear 
	background: $cyan
    

.loginButton:hover::before, .loginButton:hover::after 
	width: 100% 

.loginButton:hover span::before, .loginButton:hover span::after 
	height: 100% 


.buttonAnimation::before, .buttonAnimation::after 
	transition-delay: 0s 

.buttonAnimation .loginSpan::before, .buttonAnimation .loginSpan::after 
	transition-delay: 0.2s 

.buttonAnimation 
	&::before 
		right: 0 
		top: 0
	&::after 
		left: 0 
		bottom: 0
	.loginSpan 
		&::before 
			left: 0 
			top: 0
		&::after 
			right: 0 
			bottom: 0

.buttonAnimation:hover::before, .buttonAnimation:hover::after 
	transition-delay: 0.2s 

.buttonAnimation:hover .loginSpan::before, .buttonAnimation:hover .loginSpan::after 
	transition-delay: 0s 
