@import './variables.sass'

.App 
    font-family: "Source Sans Pro", sans-serif


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active 
    -webkit-box-shadow: 0 0 0 30px #333 inset !important
    -webkit-text-fill-color: $light-grey


