.timerDiv {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: coral;
    opacity: 0.9;
    color: white;
    box-shadow: 0 -.25rem .5rem rgba(0,0,0,.15);
    height: 6vh;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    padding-top: 0.75%;
    transition: background-color 0.4s ease-out;
}

.timerMessage {
    font-size: 130%;
}